<div class="container">
  <div class="show">
    <h1><%= @article.title %></h1>
    <p><%= @article.content %></p>

    <div class="link mb-4 mt-4">
      <%= link_to "Edit this article", edit_article_path %>
    </div>
    <div class="link">
      <%= link_to "List of Articles", articles_path %>
    </div>
  </div>
</div>
