<div class="container">

  <h1><%= @article.title %></h1>
  <p><%= @article.content %></p>

  <%= link_to "Edit this article", edit_article_path %>
  <%= link_to "List of Articles", articles_path %>
</div>
